.function-block {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.function-block__button {
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
}
.favorite-image, .watch-later__image {
    height: 100%;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.favorite-image:hover {
    fill: red;
}
.favorite-image__true {
    fill: red
}
.watch-later__image:hover {
    fill: yellow;
}
.watch-later__image-true {
    fill: yellow;
}